* {
    background-color: lightblue;
    /* border: 1px solid red; */
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    display: grid;
    /* background-color: yellow; */
    margin-bottom: 10px;
    padding: 10px;
}
.navhead {
    text-align: center;
    background-color: blueviolet;
}
.searchform {
    display: flex;
    justify-content: center;
    /* background-color: blueviolet; */
}
::placeholder {
    /* color: rgb(233, 31, 31); */
    opacity: 1;
}
input#searchbox{
    height: 30px;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px ;
    border: 1px solid black;
    border-right: none;
}
.searchbtn {
    float: left;
    border: none;
    background-color: yellow;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 30px;
    border: 1px solid black;
    border-left: none;
}

.fa.fa-search {
    background-color: yellow;
}

.searchbtn:hover {
    background-color: rgb(245, 245, 117);
}
input:focus {
    outline: 1px solid grey;
}

.devlinks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 950px;
    gap: 10px;
    /* width: 800px; */
    text-decoration: none;
    justify-items: center;
    /* overflow: auto; */
    /* grid-auto-flow: row dense; */
}
@media (min-width: 800px) {
    .devlinks {
        grid-template-columns: repeat(4, 1fr);
    }
}
.linkcards {
    background-color: #f7f7f7;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    text-decoration: none;
}
.devlinks h2{
    color: green;
    font-size: 20px;
    text-align: center;
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.linkcards img {
    height: auto;
    width: 178px;
}
section div p {
    font-size: 14px;
    padding: 8px;
    height: 100px;
    text-decoration: none;
}