* {
    background-color: lightblue;
    border: 1px solid red;
    box-sizing: border-box;
    margin: 0;
}
nav {
    display: grid;
    background-color: yellow;
}
.navhead {
    text-align: center;
}
.search {
    display: flex;
    justify-content: center;
}

.devlinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px;
    height: 300px;
}
.linkcards {
    margin: 10px;
}
.devlinks h2{
    color: green;
    font-size: 24pxpx;
}